body {
    background-image: URL('benj.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

p {
    display: block;
    line-height: 20px;
}

h1 {
    text-align: center;
    color: #fff100;
}

h4 {
    text-align: right;
    color: #fff100;
}

p.one {
    color: #FFC755;
}

p.two {
    color: #ffa840;
}

p.three {
    color: #ff7e15;
}

p.four {
    color: #ffdc2b;
}

p.five {
    color: #ff9340;
}

p.six {
    color: #ffdc55;
}

p.seven {
    color: #ffa815;
}

p.eight {
    color: #ffe795;
}

p.nine {
    color: #ffc880;
}

span {
    color: #ff5415;
}
